@import "../../../styles/fonts", "../../../styles/variables";

.modal {
  color: $white;
  background-color: $black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  font-family: "Sue Ellen Francisco", cursive;
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  p {
    font-size: 2rem;
    padding-left: 3rem;
    margin-top: -2.25rem;
  }
}

.wrapper {
  position: absolute;
  animation: 30s credits linear infinite;
  padding-left: 10%;
}

@keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -200%;
  }
}
