@use 'styles/variables' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #141c2b;
  color: #049470;
  font-family: $font-jardinage-graphique;
  height: 100vh;
}

.header {
  padding: 1rem;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.gardenContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: crosshair;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flower {
  position: absolute;
  width: 60px;
  height: 60px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.buttonImage {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

// inpiration from https://uiverse.io/0xnihilism/pretty-fireant-33
.resetButton {
  position: relative;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #035742;
  border: 3px solid #030504;
  border-radius: 12px;
  box-shadow: 4px 4px 1px #030504;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}

.resetButton:hover {
  background-color: #049470;
  border-color: #030504;
  transform: translate(-6px, -6px) rotate(1deg);
  box-shadow:
    10px 10px 0 #030504,
    15px 15px 20px rgba(64, 164, 122, 0.2);
}

.resetButton::before,
.resetButton::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  transition: 0.6s;
}

.resetButton::before {
  left: -100%;
}
.resetButton::after {
  left: 100%;
}

.resetButton:hover::before {
  animation: swipeRight 1.5s infinite;
}
.resetButton:hover::after {
  animation: swipeLeft 1.5s infinite;
}

@keyframes swipeRight {
  100% {
    transform: translateX(200%) skew(-45deg);
  }
}

@keyframes swipeLeft {
  100% {
    transform: translateX(-200%) skew(-45deg);
  }
}
