@use 'styles/variables' as *;

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #141c2b;
  color: #049470;
  font-family: $font-jardinage-graphique;
  height: 100vh;
}

