@import '../../../styles/animations.scss', '../../../styles/variables.scss';

.container {
  position: absolute;
  top: 10%;
  height: 80%;
  border: 1px solid $black;
  background-color: $white;
  padding: 1.5rem;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
  }
}

.frame {
  width: 7rem;
  height: 7rem;
  position: relative;
  overflow: hidden;
}

.frame img {
  position: absolute;
}

$fadeInProps: (
  name: fadeIn,
  duration: 0.2s,
  opacity: 0,
);

$slideLeftProps: (
  name: slideLeftReturn,
  duration: 0.9s,
);

$slideRightProps: (
  name: slideRightReturn,
  duration: 0.9s,
);

// TODO move to mixins
@mixin animation-properties($name, $delay, $duration, $fillMode: both, $opacity: null) {
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: $fillMode;
  opacity: $opacity;
}

@for $i from 0 to 6 {
  $delay: 0.15s * $i;

  @if $i % 2 == 0 {
    $slideRightClassName: unquote('.landscape_#{$i}');
    #{$slideRightClassName} {
      @include animation-properties(
        map-get($slideRightProps, name),
        $delay,
        map-get($slideRightProps, duration)
      );
    }
  } @else {
    $slideLeftClassName: unquote('.landscape_#{$i}');
    #{$slideLeftClassName} {
      @include animation-properties(
        map-get($slideLeftProps, name),
        $delay,
        map-get($slideLeftProps, duration)
      );
    }
  }
}

.landscape_6 {
  animation-delay: 1.15s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_7 {
  animation-delay: 1.5s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_8 {
  animation-delay: 1.6s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_9 {
  animation-delay: 1.7s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_10 {
  animation-delay: 1.8s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_11 {
  animation-delay: 1.9s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_12 {
  animation-delay: 2s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_13 {
  animation-delay: 2.1s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_14 {
  animation-delay: 2.2s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_15 {
  animation-delay: 2.3s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_16 {
  animation-delay: 2.4s;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  opacity: 0;
}

.landscape_17 {
  animation-delay: 2.8s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: swashIn;
}
