@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.modal {
  height: 100vh;
  width: 100%;
  @include flex-center-column;
}

.cta__frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
  @include border-simple;
  background-color: $white;
  padding: 1.5rem 3rem 2rem;
}

.cta__button {
  margin-top: 2rem;
  @include border-simple;
  padding: 0.5rem 2rem;
  background-color: $white;
  font-family: $font-primary;
  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.title__container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 3rem;
}
