@keyframes loaderSpriteAnimation {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -5060px;
  } /* (23 images * (200px + 10px) + 10px on the left + 10px on the right) */
}

.loader__sprite {
  width: 220px;
  height: 220px;
  background: url('/resources/main/animations/loader/sprite_loader.png');
  animation: loaderSpriteAnimation 10s steps(23) infinite;
}

.loader__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
