@use 'variables' as *;

@mixin animation-properties($name, $delay, $duration, $fillMode: both, $opacity: null) {
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: $fillMode;
  opacity: $opacity;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin border-simple {
  border: 1px solid $black;
}
