@import 'fonts';

// TYPOGRAPHY
$font-primary: 'Noto Serif JP', serif;
$font-palettes: 'Italiana', serif;
$font-jardinage-graphique: 'Send Flowers', serif;

// COLORS
$black: #303030;
$white: #f5f5f5;
